<!-- Header -->
<div
  style="margin-bottom: 20px"
  class="flex items-center justify-between bg-gray-200 px-4 py-2"
>
  <!-- Logo -->
  <h1 class="text-2xl font-bold text-gray-800">Hospitium</h1>

  <!-- Home button -->
  <a class="text-gray-800 hover:text-blue-500" href="/">Home</a>

  <!-- Logout and username -->
  <div class="flex items-center space-x-4 relative">
    <!-- User dropdown -->
    <div class="dropdown">
      <button
        onclick="toggleDropdown()"
        class="text-gray-700 hover:text-blue-500 focus:outline-none"
      >
        <span class="truncate max-w-xs">
          <span class="hidden sm:inline" th:text="${user.fullName()}"></span>
        </span>
      </button>
      <div
        id="dropdownMenu"
        class="dropdown-menu hidden absolute right-0 mt-2 py-2 bg-white rounded-md shadow-lg z-10"
      >
        <a
          th:href="@{/patient/profile}"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-100"
          >Profile</a
        >

        <a
          href="/logout"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-100"
          >Logout</a
        >
      </div>
    </div>
  </div>
</div>

<script>
  // Dropdown menu visibility
  function toggleDropdown() {
    var dropdownMenu = document.getElementById("dropdownMenu");
    dropdownMenu.classList.toggle("hidden");
  }
</script>
