<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
    <meta th:replace="common/meta" />
  </head>
  <body>
    <div th:replace="common/errors" />
    <!-- Header with logo, logout and breadcrumbs -->
    <div th:replace="common/header"></div>
    <!-- Content -->
    <div class="et-content">
      <button
        id="btn-new-appointment"
        class="et-button-primary w-full h-12"
        onclick="document.location='new_appointment'"
      >
        New Appointment
      </button>

      <form class="self-stretch" action="" method="get">
        <div class="flex flex-row items-center gap-2 h-11 items-stretch">
          <select class="text-xl font-medium flex-1 min-w-0" name="category">
            <option
              th:each="category : ${categories}"
              th:value="${category}"
              th:text="${category}"
            ></option>
          </select>
          <input
            class="et-squared-input text-xl font-medium flex-2 min-w-0"
            name="text"
            type="text"
            placeholder="Search by date..."
          />
        </div>
      </form>
      <!--
        <span id="et-no-results" class="self-center text-xl text-semibold">No courses found matching the given criteria</span>
         -->

      <!-- TODO: Iterate over courses th:each="visit: ${visits}" -->
      <div th:each="visit: ${visits}" class="et-card p-5 w-100">
        <div class="flex flex-row justify-items-center gap-5">
          <!-- TODO: th:class="'et-icon-course fa-2x '+${course.getIcon()}" Icon -->
          <i class="fa fa-book fa-2x"></i>
          <a
            th:text="${visit.formattedType(visit.getType())}"
            th:href="'/patient/visit/'+${visit.getId()}"
            class="et-name text-2xl font-bold"
            >Sangue
          </a>
          <!-- TODO: Year th:text="${course.formatPeriod()}" -->
          <p th:text="'('+${visit.getData()}+')'" class="et-period text-xl">
            (00/00/0000)
          </p>
        </div>
        <!-- TODO: Description th:text="${course.description}" -->
        <p th:text="${visit.getResult()}" class="et-description mt-4">
          Visita di come avere una vita piu lingha
        </p>
      </div>
    </div>
  </body>
</html>
