<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Appointment</title>
    <meta th:replace="common/meta" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div th:replace="common/errors" />
    <!-- Header with logo, logout and breadcrumbs -->
    <div th:replace="common/header"></div>
    <!-- Content -->
    <div class="et-content">
      <div class="et-card p-5 w-100">
        <h2 class="text-2xl font-semibold text-gray-800 mb-2">
          Appointment Details
        </h2>
        <!-- Form that ridiract to /appointments page -->
        <form action="/patient/new_appointment" method="post">
          <div class="mb-4">
            <!-- Date Field -->
            <label for="date" class="block text-gray-700 text-sm font-bold mb-2"
              >Date and Time:</label
            >
            <input
              required
              type="date"
              name="date"
              id="date"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500"
            />
            <p id="errorMessage" style="color: red; display:none"></p>
          </div>
          <div class="mb-4">
            <!-- Time Dropdown -->
            <label for="time" class="block text-gray-700 text-sm font-bold mb-2"
              >Time:</label
            >
            <select
              required
              name="time"
              id="time"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500"
            >
              <option value="" selected disabled>Select Time</option>
              <option value="08:00">08:00</option>
              <option value="08:30">08:30</option>
              <option value="09:00">09:00</option>
              <option value="09:30">09:30</option>
              <option value="10:00">10:00</option>
              <option value="10:30">10:30</option>
              <option value="11:00">11:00</option>
              <option value="11:30">11:30</option>
              <option value="12:00">12:00</option>
              <option value="12:30">12:30</option>
              <option value="13:00">13:00</option>
              <option value="13:30">14:30</option>
              <option value="14:00">14:00</option>
              <option value="14:30">14:30</option>
              <option value="15:00">15:00</option>
              <option value="15:30">15:30</option>
              <option value="16:00">16:00</option>
              <option value="16:30">16:30</option>
              <option value="17:00">17:00</option>
              <option value="17:30">17:30</option>
              <option value="18:00">18:00</option>
              <option value="18:30">18:30</option>
              <option value="19:00">19:00</option>
              <option value="19:30">19:30</option>
              <option value="20:00">20:00</option>
              <option value="20:30">20:30</option>
              <option value="21:00">21:00</option>
            </select>
          </div>

          <div class="mb-4">
            <!-- Note Field -->
            <label for="note" class="block text-gray-700 text-sm font-bold mb-2"
              >Note:</label
            >
            <textarea
              name="note"
              id="note"
              rows="4"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500"
            ></textarea>
          </div>

          <!-- Visit types -->
          <div class="mb-4">
            <label
              for="visitType"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Visit Type:</label
            >
            <select
              name="visitType"
              id="visitType"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500"
            >
              <option
                th:each="category : ${visitTypes}"
                th:value="${category}"
                th:text="${category}"
              >
                Visit Type
              </option>
            </select>
          </div>
          <!-- Urgency -->
          <div class="mb-4">
            <label
              for="urgency"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Urgency:</label
            >
            <select
              name="urgency"
              id="urgency"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500"
            >
              <option value="1">Low</option>
              <option value="2">Medium</option>
              <option value="3">High</option>
            </select>
          </div>
          <!-- Medico //// TODO: to take the medico base and to be first seleted -->
          <div class="mb-4">
            <label
              for="medico"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Medico:</label
            >
            <select
                    th:if= "${visitType == 'Routine checkup'}"

              name="medico"
              id="medico"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500"
            >
              <option
                th:each="medico : ${medici}"
                th:value="${medico.id}"
                th:text="${medico.fullName()}"
              >
                Medico
              </option>
            </select>
          </div>
          <div class="flex justify-end">
            <button type="submit" class="et-button-secondary w-full h-12">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      $(document).ready(function () {
        const timeSelect = $("#time");
        const errorMessage = $("#errorMessage");
    
        function disableTimeOptions() {
          const dateInput = $("#date");
          // Get the selected date
          const selectedDate = new Date(dateInput.val());
          
          // Check if the selected date is a weekend
          const isWeekend = selectedDate.getDay() === 0 || selectedDate.getDay() === 6;
    
          if (!dateInput.val() || isWeekend) {
            // If no date is selected or it's a weekend, disable time options, change their color to transparent, and show error message
            timeSelect.prop("disabled", true);
            timeSelect.css("color", "transparent");
            errorMessage.text("Please select a valid date (weekends are not allowed)");
            errorMessage.show();
          } else {
            // If date is selected and it's not a weekend, enable time options, reset their style, and hide error message
            timeSelect.prop("disabled", false);
            timeSelect.css("color", ""); // Reset color to default
            errorMessage.hide();
          }
        }
    
        // Disable time options on page load
        disableTimeOptions();
    
        // Event listener for date input change
        $("#date").change(function () {
          disableTimeOptions();
        });
      });
    </script>
    
    

    <script>
      $(document).ready(function () {
        let orari = [];
        let medicoId = null;
        let getDate = null;
        let time = [];
        let initialized = false;
        let 

        // Get the select element
        const timeSelect = $("#time")[0];

        // Function to fetch orari data based on selected medico
        function fetchOrariData(medicoId) {
          $.ajax({
            url: "/patient/orari", // Endpoint to fetch orari data
            type: "GET",
            data: {
              medicoId: medicoId,
            },
            success: function (data) {
              // Extract the available dates and times for the selected medico
              orari = Object.entries(data)
                .filter(([key, value]) => key.includes(`id=${medicoId}`))
                .map(([key, value]) => value);
              // Ensure functionality is triggered for initial load
              triggerFunctionality();
            },
            error: function (xhr, status, error) {
              // Handle errors
              console.error(error);
            },
          });
        }

        // Function to trigger functionality on medico or date change
        function triggerFunctionality() {
          // Empty the time array
          time = [];

          // Iterate over each entry in the orari array
          orari.forEach((entry) => {
            // Iterate over the keys and values of each entry
            Object.entries(entry).forEach(([date, times]) => {
              // If the date matches the selected date, add the times to the time array
              if (date === getDate) {
                time.push(...times);
              }
            });
          });

          // Show all options in the select element
          for (let i = 0; i < timeSelect.options.length; i++) {
            const option = timeSelect.options[i];
            option.style.display = "block";
          }

          // Iterate through each option in the select element
          for (let i = 0; i < time.length; i++) {
            const timeValue = time[i];
            // Iterate through each option in the select element
            for (let j = 0; j < timeSelect.options.length; j++) {
              const option = timeSelect.options[j];
              // Check if the value of the option matches the time value
              if (option.value === timeValue) {
                option.style.display = "none";
              }
            }
          }
        }

        // Event listener for medico selection change
        $("#medico").change(function () {
          medicoId = $(this).val();
          fetchOrariData(medicoId);
        });

        // Event listener for date input change
        $("#date").change(function () {
          getDate = $(this).val();
          triggerFunctionality();
        });

        // Fetch orari data for the initially selected medico when the page loads
        medicoId = $("#medico").val();
        fetchOrariData(medicoId);
      });
    </script>
  </body>
</html>
