<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Appointment</title>
    <meta th:replace="common/meta" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div th:replace="common/errors" />
    <!-- Header with logo, logout and breadcrumbs -->
    <div th:replace="common/header"></div>
    <!-- Content -->
    <div class="et-content">
      <div class="et-card p-5 w-100">
        <h2 class="text-2xl font-semibold text-gray-800 mb-2">
          Appointment Details
        </h2>
        <!-- Form that ridiract to /appointments page -->
        <form action="/patient/new_appointment" method="post">
          <div class="mb-4">
            <!-- Date Field -->
            <label for="date" class="block text-gray-700 text-sm font-bold mb-2"
              >Date and Time:</label
            >
            <input
              required
              type="date"
              name="date"
              id="date"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500"
            />
          </div>
          <div class="mb-4">
            <!-- Time Dropdown -->
            <label for="time" class="block text-gray-700 text-sm font-bold mb-2"
              >Time:</label
            >
            <select
              required
              name="time"
              id="time"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500"
            >
              <option value="" selected disabled>Select Time</option>
              <option value="08:00">08:00</option>
              <option value="08:30">08:30</option>
              <option value="09:00">09:00</option>
              <option value="09:30">09:30</option>
              <option value="10:00">10:00</option>
              <option value="10:30">10:30</option>
              <option value="11:00">11:00</option>
              <option value="11:30">11:30</option>
              <option value="12:00">12:00</option>
              <option value="12:30">12:30</option>
              <option value="13:00">13:00</option>
              <option value="13:30">14:30</option>
              <option value="14:00">14:00</option>
              <option value="14:30">14:30</option>
              <option value="15:00">15:00</option>
              <option value="15:30">15:30</option>
              <option value="16:00">16:00</option>
              <option value="16:30">16:30</option>
              <option value="17:00">17:00</option>
              <option value="17:30">17:30</option>
              <option value="18:00">18:00</option>
              <option value="18:30">18:30</option>
              <option value="19:00">19:00</option>
              <option value="19:30">19:30</option>
              <option value="20:00">20:00</option>
              <option value="20:30">20:30</option>
              <option value="21:00">21:00</option>
            </select>
          </div>

          <div class="mb-4">
            <!-- Note Field -->
            <label for="note" class="block text-gray-700 text-sm font-bold mb-2"
              >Note:</label
            >
            <textarea
              name="note"
              id="note"
              rows="4"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500"
            ></textarea>
          </div>

          <!-- Visit types -->
          <div class="mb-4">
            <label
              for="visitType"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Visit Type:</label
            >
            <select
              name="visitType"
              id="visitType"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500"
            >
              <option
                th:each="category : ${visitTypes}"
                th:value="${category}"
                th:text="${category}"
              >
                Visit Type
              </option>
            </select>
          </div>
          <!-- Urgency -->
          <div class="mb-4">
            <label
              for="urgency"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Urgency:</label
            >
            <select
              name="urgency"
              id="urgency"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500"
            >
              <option value="1">Low</option>
              <option value="2">Medium</option>
              <option value="3">High</option>
            </select>
          </div>
          <!-- Medico //// TODO: to take the medico base and to be first seleted -->
          <div class="mb-4">
            <label
              for="medico"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Medico:</label
            >
            <select
              name="medico"
              id="medico"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500"
            >
              <option
                th:each="medico : ${medici}"
                th:value="${medico.id}"
                th:text="${medico.fullName()}"
              >
                Medico
              </option>
            </select>
          </div>
          <div class="flex justify-end">
            <button type="submit" class="et-button-secondary w-full h-12">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>



  </body>
</html>
