<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Profile</title>
    <meta th:replace="common/meta" />
  </head>

  <body>
    <div th:replace="common/errors"></div>
    <!-- Header with logo, logout, and breadcrumbs -->
    <div th:replace="common/header"></div>
    <!-- Content -->
    <div class="et-content">
      <!-- Patient Data Card -->
      <div class="et-card">
        <a class="et-name text-2xl font-bold">Patient Data:</a>
        <div class="et-card-body">
          <p th:text="'Name: ' + ${user.fullName()}"></p>
          <p th:text="'Email: ' + ${patient.user.email}"></p>
        </div>
      </div>

      <!-- Appointment Cards -->
      <!-- Loop through appointments -->
      <div th:each="appointment : ${appointments}">
        <div class="et-card">
          <div class="et-card-body">
            <a
              class="et-name text-2xl font-bold"
              th:text="${appointment.visitType}"
            ></a>
            <p th:text="'Data: ' + ${appointment.data}"></p>
            <p th:text="'Medico: ' + ${appointment.medico.user.fullName()}"></p>
            <p
              th:text="'Medico email: ' + ${appointment.medico.user.email}"
            ></p>
            <p th:text="'Urgenza: ' + ${appointment.urgenza}"></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
