<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Details</title>
    <meta th:replace="common/meta" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Include Tailwind CSS -->
  </head>

  <body>
    <div th:replace="common/errors" />
    <!-- Header with logo, logout and breadcrumbs -->
    <div th:replace="common/header"></div>
    <!-- Content -->
    <div class="et-content">
      <div class="et-card p-5 w-full">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Visit Details</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="flex items-center">
            <div class="w-full">
              <div class="font-semibold text-gray-600">Date:</div>
              <div th:text="${visit.data}" class="text-gray-800">
                Visit Date
              </div>
            </div>
          </div>
          <div class="flex items-center">
            <div class="w-full">
              <div class="font-semibold text-gray-600">Result:</div>
              <div th:text="${visit.Result}" class="text-gray-800">
                Visit Result
              </div>
            </div>
          </div>
          <div class="flex items-center">
            <a
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              th:href="@{'/patient/visit/pdf/' + ${visit.id}}"
            >
              Download PDF
            </a>
          </div>

          <div class="flex items-center">
            <div class="w-full">
              <div class="font-semibold text-gray-600">Type:</div>
              <div
                th:text="${visit.formattedType(visit.type)}"
                class="text-gray-800"
              >
                Visit Type
              </div>
            </div>
          </div>
          <div class="flex items-center">
            <div class="w-full">
              <div
                class="font-semibold text-gray-600"
                th:if="${visit.medico != null}"
              >
                Medico:
              </div>
              <div
                class="font-semibold text-gray-600"
                th:if="${visit.nurse != null}"
              >
                Nurse:
              </div>
              <div
                th:text="(${visit.medico?.fullName() ?: visit.nurse?.fullName()})"
                class="text-gray-800"
              ></div>
            </div>
          </div>
          <div class="flex items-center">
            <div class="w-full">
              <div class="font-semibold text-gray-600">Patient:</div>
              <div th:text="${visit.patient.fullName()}" class="text-gray-800">
                Patient
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
