<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
    <meta th:replace="common/meta" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div th:replace="common/errors" />
    <!-- Header with logo, logout and breadcrumbs -->
    <div th:replace="common/header"></div>
    <!-- Content -->
    <div class="et-content">
      <!-- Search input -->
      <input
        id="searchInput"
        class="et-squared-input text-xl font-medium flex-2 min-w-0"
        type="text"
        placeholder="Search appointments..."
        oninput="filterAppointments()"
      />
      <!-- Appointments -->
      <div th:each="appointment: ${appointments}" class="et-card p-5 w-100">
        <div class="flex flex-row justify-items-center gap-5">
          <i class="fa fa-calendar fa-2x"></i>
          <a
            th:text="${appointment.visitType}"
            th:href="'/medico/appointment/' + ${appointment.id}"
            class="et-name text-2xl font-bold"
          ></a>
          <p
            th:text="'('+ ${appointment.data} +')'"
            class="et-period text-xl"
          ></p>
        </div>
        <div class="flex flex-row">
            <div class="felx flex-col">
                <!-- Patient name 
                <p th:text="${appointment.patientName}" class="et-description mt-4"></p> -->
            </div>
            <div class="felx flex-col">
                <p th:text="${appointment.note}" class="et-description mt-4"></p>
            </div>
        </div>
      </div>
    </div>
    <!-- Script for filtering appointments -->
    <script>
      function filterAppointments() {
        var input, filter, appointments, appointment, name, data, i;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        appointments = document.getElementsByClassName("et-card");

        for (i = 0; i < appointments.length; i++) {
          appointment = appointments[i];
          name = appointment
            .getElementsByClassName("et-name")[0]
            .innerText.toUpperCase();
          data = appointment
            .getElementsByClassName("et-period")[0]
            .innerText.toUpperCase();
          if (name.indexOf(filter) > -1 || data.indexOf(filter) > -1) {
            appointment.style.display = "";
          } else {
            appointment.style.display = "none";
          }
        }
      }
    </script>
  </body>
</html>
