<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Appointment Details</title>
    <meta th:replace="common/meta" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Include Tailwind CSS -->
  </head>

  <body>
    <div th:replace="common/errors" />
    <!-- Header with logo, logout, and breadcrumbs -->
    <div th:replace="common/header_nurse"></div>
    <!-- Content -->
    </body>
</html>
